@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('DejaVuSansMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: rgb(17, 17, 17);
    font: normal 400 14px/1.4em 'DejaVu Sans Mono', monospace;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
}

.red  { color: rgb(204, 0, 0); }
.cyan { color: rgb(0, 211, 211); }

canvas {
    width: 960px;
    height: 576px;
    margin: -288px 0 0 -590px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.window {
    width: 1180px;
    height: 576px;
    margin: -288px 0 0 -590px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgb(17, 17, 17);
}
.window p, pre {
    width: 960px;
    margin: 10px auto;
    font: inherit;
}
.window .logo {
    line-height: 1.2em;
}
.window .center {
    text-align: center;
}

.sidebar {
    width: 200px;
    height: 576px;
    margin: -288px 0 0 390px;
    position: fixed;
    top: 50%;
    left: 50%;
    line-height: 1.2em;
}
.sidebar img {
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.sidebar p {
    margin: 0 0 10px 0;
}
.sidebar .indent {
    margin: 5px 0 5px 21px;
    display: inline-block;
    line-height: 1.4em;
}
.sidebar .indent:last-of-type {
    margin-bottom: 0;
}
